*{
    margin: 0;
    padding: 0;
}

.lab-image
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}
img{
    width: 100%;
    height: 100%; 
    filter: brightness(20%); 
}
.words{
    position: fixed;
    text-align: center;
    left: 5rem;
    right: 2rem;
    top: 10rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.better{
    font-size: 3rem;
    color: #fff;
}
.beautiful{
    font-size: 5rem;
    color:cyan
}
.smile{
    font-size: 3rem;
    color: #fff;
}
.book-now{
    margin-top: 4rem;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    border-style: solid;
    border-width: 0.08rem; 
    cursor: pointer;
}

.book-now:hover{
    background-color: #ffffff54;
    transition: 0.8s;
}